.body {
  background-color: #fff8f4;
  padding: 40px;
  margin: 40px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 10px #e3e3e3;
  font-size: 16px;
  font-family: "Google Sans";
}

.workflow {
  padding: 40px;
  margin: 40px;
  font-family: "Google Sans";
  color: #333;
}
.workflow .workflow-description {
  font-size: 16px;
  font-family: "Google Sans";
  color: #333;
}
.card_text {
  font-size: 16px;
  font-family: "Google Sans";
  color: #333;
}
.form-box {
  padding: 40px;
  margin: 40px;
  font-family: "Google Sans";
  color: #333;
  border: #333;
}
.form-box .form-box-description {
  font-size: 16px;
  font-family: "Google Sans";
  color: #333;
}

.about {
  position: relative;
  font-family: Google Sans;
}

.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 20px; /* Reduce padding for better mobile view */
  overflow: hidden;
}

.team-section .pe {
  float: left;
  width: 25%; /* Display 4 items per row for desktop */
  padding: 20px 0;
  transition: 0.4s;
  text-align: center; /* Center align content */
  box-sizing: border-box; /* Include padding and border in width */
}

.pe:hover {
  background: #dfe4ea;
}

.pe img {
  max-width: 100%; /* Ensure the image fits the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
}

.p-name {
  margin: 10px 0; /* Provide more space between name and description */
  text-transform: uppercase;
}

.p-des {
  font-style: italic;
  color: #3498db;
}

.p-sm {
  margin-top: 6px;
}

.p-sm a {
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

.p-sm a:hover {
  transform: scale(1.3);
}

.p-sm a i {
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .team-section .pe {
    width: 100%; /* Display one item per row on mobile screens */
  }
}

.service-section .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background-color: #f8f9fa;
}
.service-section .icon-box:hover .service-title a {
  color: #41a1fd;
}
.service-section .icon-box .service-icon {
  float: left;
  color: #41a1fd;
  font-size: 40px;
}
.service-section .icon-box .service-title {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.2;
}
.service-section .icon-box .service-title a {
  color: #556270;
  transition: 0.3s;
  text-decoration: none;
}
.service-section .icon-box .service-para {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}
.service-section .service-main-heading {
  color: #556270;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1;
  font-size: 60px;
  font-weight: 600;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.sidebar {
  background-color: #1f1c3b;
  padding: 20px;
  color: aliceblue;
}

.sidebar a {
  color: aliceblue;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 15px;
  display: block;
}

.sidebar a:hover {
  color: #007bff;
  text-decoration: none;
  /* Change text color to blue on hover */
  background-color: white;
  /* Change background to white on hover */
}



.welcome-message {
  color: black;
  font-family: "Google Sans";
  margin: 30px;
  padding: 30px;
}